<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Res i Skåne</title>
    <link rel="stylesheet" type="text/css" href="/static/yui-2.8.0r4-reset-fonts-grids.css"/>
    <link rel="stylesheet" type="text/css" href="/static/planner.css"/>
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui/css/smoothness/jquery-ui-1.8.13.custom.css"/>
    <link rel="stylesheet" type="text/css" href="/static/jquery-bubble-popup/css/jquery.bubblepopup.v2.3.1.css"/>
    <script type="text/javascript" src="/static/jquery-ui/js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="/static/jquery-ui/js/jquery-ui-1.8.13.custom.min.js"></script>
    <script type="text/javascript" src="/static/jquery-bubble-popup/js/jquery.bubblepopup.v2.3.1.min.js"></script>
    <script type="text/javascript">
      $(function() {
        $("#search_fr").autocomplete({
          source: "/ajax/stations",
          minLength: 3,
        });
        $("#search_to").autocomplete({
          source: "/ajax/stations",
          minLength: 3,
        });
      });
    </script>
    <script>
      function check_search_form() {
        var from = document.search_form.fr.value;
        var to = document.search_form.to.value;
        if (from == '' && to == '') {
          $('div.search-error-messages').html('<p class="search-error-messages">Ange var du vill resa ifrån och målet för din resa</p>');
          return false;
        }
        if (from == '') {
          $('div.search-error-messages').html('<p class="search-error-messages">Ange var vill du resa ifrån</p>');
          return false;
        }
        if (to == '') {
          $('div.search-error-messages').html('<p class="search-error-messages">Ange målet för din resa</p>');
          return false;
        }
        return true;
      }
      
      function submit_on_enter(my_field, event) {
        var keycode;
        if (window.event) keycode = window.event.keyCode;
        else if (event) keycode = event.which;
        else return true;
      
        if (keycode == 13) {
          myfield.form.submit();
          return false;
        }
        return true;
      }
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23396011-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript">
      {% block script %}
      {% endblock %}
    </script>
  </head>
  {% block body %}
  {% endblock %}
</html>
