{% extends "base.html" %}
{% block script %}
  $(document).ready(function(){

    //create a bubble popup for each DOM element with class attribute as "text", "button" or "link" and LI, P, IMG elements.
    $('.popup').CreateBubblePopup({
      position : 'top',
      align : 'center',
      innerHtml: '',
      innerHtmlStyle: { color:'#000000', 'text-align':'center' },
      themeName: 'azure',
      themePath: '/static/jquery-bubble-popup/themes/'
    });

    $('.popup').mouseover(function() {
      var link = $(this);
      link.SetBubblePopupInnerHtml(link.find('div.innerHtml').html());
    });

  });
{% endblock %}
{% block body %}
<body class="yui-skin-sam image-box-top">

  <div class="image-credit image-credit-top-right"><a href="http://www.flickr.com/photos/kalleboo/5234079655/">Hyllie station / kalleboo</a></div>

<div id="doc3" class="yui-t2">
  <div id="hd" class="hd-result">

      <form id="search_form" method="get" action="/resolve" onSubmit="return check_search_form()">

	<div id="logo-box">
	  <h1 class="logo" id="logo-small-left">
	    <a href="/"><span style="color: #aa0000;">res</span><span style="color: #e8c711;">i</span><span style="color: #aa0000;">skåne</span></a>
	  </h1>
	</div>

	<div id="result-search-box">
	  <input id="search_fr" size="25" type="text" name="fr" placeholder="Från" value="{{fr.name}}" onKeyPress="return submit_on_enter(this, event)"/>
	  <input id="search_to" size="25" type="text" name="to" placeholder="Till" value="{{to.name}}" onKeyPress="return submit_on_enter(this, event)"/>
	  <input class="search-button" type="submit" value="Sök"/>
	</div>
	
      </form>

    <!-- search error message -->
    <div class="search-error-messages"></div>
	  
  </div>

  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
	<div class="yui-g">

	  <div class="prefix-journeys"> 
	    <h2>Träffar</h2>
	  </div>

	  <!-- journey hits -->
	  
	  <div class="journeys">
	    {% for journey in journeys %}
	    <div class="journey">
	      <h3>Alternativ {{ forloop.counter }} – {{ journey.0.remains }}</h3>
	      {% for link in journey %}
	      {% if forloop.first %}
	      <span class="link prefix">{{ link.when }}</span>
	      {% else %}
	      <div class="popup link box-base box-color-{{ link.color }}" style="width: {{ link.pixel_length}}px; position: relative;">
		<!--
		   <span style="font-family: museo-normal; -moz-transform: rotate(0deg); background-color: white; -moz-transform-origin: 0 0; color: gray; text-shadow: none; font-size: 7pt; position: absolute; top: -10pt; left: 0pt; white-space: nowrap;">&darr; {{ link.departure_name }}, {{ link.departure_time }}</span>
		   -->
		{% if link.has_deviations %}<span style="color:red; font-weight: bold; font-family: museo-normal;">!</span>{% endif %}
		{{ link.transport_short|safe }}
		<div style="display: none;">
		  <div class="innerHtml">
		    {% if link.is_wait %}
		    Väntetid {{ link.duration }} minuter.
		    {% else %}
		    <p>Avgår {{ link.departure_name }} kl {{ link.departure_time }}.</p>
		    <p>Ankommer {{ link.arrival_name }} kl {{ link.arrival_time }}.</p>
		    <p>Färdmedel {{ link.transport|lower }}.</p>
		    <p>Restid {{ link.duration }} minuter.</p>
		    {% for deviation in link.deviations %}
		    <p class="deviation"><span class="deviation-header">Observera!</span> {{ deviation.getDetails }}</p>
		    {% endfor %}
		    {% endif %}
		  </div>
		</div>
		<!--
		   <span style="font-family: museo-normal; -moz-transform: rotate(0deg); background-color: white; -moz-transform-origin: 100% 0; color: gray; text-shadow: none; font-size: 7pt; position: absolute; bottom: -10pt; right: 0pt; white-space: nowrap;">{{ link.arrival_name }}, {{ link.arrival_time }} &uarr;</span>
		   -->
	      </div>
	      {% endif %}
	      {% endfor %}
	    </div>
	    {% endfor %}
	  </div> <!-- this ends journeys -->
	  
	</div>
      </div>
    </div>

    <div class="yui-b">

      {% if fr_alts or to_alts %}
      <h2>Ville du..?</h2>

      <!-- did you mean? -->
      <div class="did-you-mean">
	
	{% if fr_alts %}
	<p>
	  ...åka <em>från</em>:
	  <ul>
	    {% for fr_alt in fr_alts %}
	    <li><a href="/search?fr_id={{ fr_alt.identifier }}&amp;to_id={{ to.identifier }}">{{ fr_alt.name }}</a></li>
	    {% endfor %}
	  </ul>
	</p>
	{% endif %}

	{% if to_alts %}
	<p>
	  ...kanske åka <em>till</em>:
	  <ul>
	    {% for to_alt in to_alts %}
	    <li><a href="/search?fr_id={{ fr.identifier }}&amp;to_id={{ to_alt.identifier }}">{{ to_alt.name }}</a></li>
	    {% endfor %}
	  </ul>
	</p>
	{% endif %}

	<h3 style="padding-top: 1em;">Sociala Media</h3>

	<p style="padding-top: 1em;">
	  <iframe src="http://www.facebook.com/plugins/like.php?app_id=215717241792160&amp;href=http%3A%2F%2Fwww.resiskane.se&amp;send=false&amp;layout=button_count&amp;width=240&amp;show_faces=true&amp;action=recommend&amp;colorscheme=light&amp;font=trebuchet+ms&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:21px;" allowTransparency="true"></iframe>

	</p>

	<p style="padding-top: 1em;">
	  <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.resiskane.se" data-text="Kolla in reseplaneraren Res i Skåne!" data-count="horizontal" data-via="davidpettersson">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	</p>

	<p style="padding-top: 1em;">
	  <g:plusone size="small" href="http://www.resiskane.se"></g:plusone>
	</p>

      </div>
      {% endif %}

    </div>

  </div>
  <div id="ft">
    <div class="footer">
      <p>Frågor? <a href="mailto:info@resiskane.se">Kontakta</a> oss gärna! Sökresultat via <a href="http://www.labs.skanetrafiken.se">Skånetrafiken API</a>.</p>
      
      <p>Kolla även in iPhone-applikationen <a href="http://itunes.apple.com/se/app/id305963116">Res i Skåne</a>. Samma namn, annan författare.</p>
      
      <p style="color: #aa7777;">Resegarantin gäller ej pga felaktigheter på denna webbplats.</p>
      <p style="color: #aa7777;">Denna webbplats drivs ej av Skånetrafiken.</p>

    </div>
  </div>
</div>
</body>
{% endblock %}

{% block content %}


{% endblock %}
