{% extends "base.html" %}
{% block script %}
function check_search_form() {
  var from = document.search_form.fr.value;
  var to = document.search_form.to.value;
  if (from == '' && to == '') {
    $('div.search-error-messages').replaceWith('<p class="search-error-messages">Ange var du vill resa ifrån och målet för din resa</p>');
    return false;
  }
  if (from == '') {
    $('div.search-error-messages').replaceWith('<p class="search-error-messages">Ange var vill du resa ifrån</p>');
    return false;
  }
  if (to == '') {
    $('div.search-error-messages').replaceWith('<p class="search-error-messages">Ange målet för din resa</p>');
    return false;
  }
  return true;
}
{% endblock %}
{% block body %}
<body class="yui-skin-sam">
  <div id="doc" class="yui-t7">
    <div id="hd">
      <!-- no header -->
    </div>
    <div id="bd">
      <div class="yui-g">
	
	<!-- logo -->
	<h1 class="logo" id="logo-large-center">
	  <span style="color: #aa0000;">res</span><span style="color: #e8c711;">i</span><span style="color: #aa0000;">skåne</span><span class="beta">beta</span>
	</h1>	

	<!-- tagline -->
	<div class="tagline">
	  <p>En alternativ reseplanerare för resor med kollektivtrafiken i Skåne.</p>
	</div>

	<!-- search box -->
	<div id="start-search-box">
	  <form name="search_form" method="GET" action="/search" onSubmit="return check_search_form()">
	    <input id="search_fr" type="text" name="fr" placeholder="Från"/>
	    <input id="search_to" type="text" name="to" placeholder="Till"/>
	    <input class="search-button" type="submit" value="Sök"/>
	  </form>
	</div>
      </div>
    </div>

    <div class="search-error-messages"></div>

    <div id="ft">
      <div class="footer">
	<p>Frågor? <a href="mailto:info@resiskane.se">Kontakta</a> oss gärna! Sökresultat via <a href="http://www.labs.skanetrafiken.se">Skånetrafiken API</a>.</p>

	<p>Kolla även in iPhone-applikationen <a href="http://itunes.apple.com/se/app/id305963116">Res i Skåne</a>. Samma namn, annan författare.<br/>
Använder du Android? Prova då <a href="https://market.android.com/details?id=info.lokaltrafik.skaone">Lokaltrafik Skåne</a>.</p>

	<p style="color: #aa7777;">Denna webbplats drivs ej av Skånetrafiken.</p>

      </div>
    </div>
  </div>
</body>
{% endblock %}
