{% extends "base.html" %}
{% block body %}
<body class="yui-skin-sam">
  <div id="doc" class="yui-t7">
    <div id="hd">
      <!-- no header -->
    </div>
    <div id="bd">
      <div class="yui-g">
	
	<!-- logo -->
	<h1 class="logo" id="logo-large-center">
	  <span style="color: #aa0000;">res</span><span style="color: #e8c711;">i</span><span style="color: #aa0000;">skåne</span>
	</h1>	

	<!-- tagline -->
	<div class="tagline">
	  <p>En alternativ sökmotor (under utveckling) för resor med Skånetrafiken</p>
	</div>

	<!-- search box -->
	<div id="start-search-box">
	  <form method="GET" action="/search">
	    <input id="search_fr" type="text" name="fr" placeholder="Från"/>
	    <input id="search_to" type="text" name="to" placeholder="Till"/>
	    <input class="search-button" type="submit" value="Sök"/>
	  </form>
	</div>

      </div>
    </div>

    <div id="ft">
      <div class="footer">
	<p>Frågor? <a href="mailto:info@resiskane.se">Kontakta</a> oss gärna! Sökresultat via <a href="http://www.labs.skanetrafiken.se">Skånetrafiken API</a>.<br/>(Vi har haft lite strul med e-posten, hör av dig igenom du försökt kontakta oss nyligen.)</p>

	<p>Kolla även in iPhone-applikationen <a href="http://itunes.apple.com/se/app/id305963116">Res i Skåne</a>. Samma namn, annan författare.<br/>
Använder du Android? Prova då <a href="https://market.android.com/details?id=info.lokaltrafik.skaone">Lokaltrafik Skåne</a>.</p>

	<p style="color: #aa7777;">Denna webbplats drivs ej av Skånetrafiken.</p>

      </div>
    </div>

  </div>
</body>
{% endblock %}
