/* ----- FONTS ------ */

@font-face {
    font-family: museo-heavy;
    src: url(/static/fonts/Museo700-Regular-webfont.ttf);
}

@font-face {
    font-family: museo-normal;
    src: url(/static/fonts/Museo500-Regular-webfont.ttf);
}

@font-face {
    font-family: museo-light;
    src: url(/static/fonts/Museo300-Regular-webfont.ttf);
}

/* ----- ELEMENTS ------ */

html {
    background-color: #ffffff;
    margin: 0;
}

body {
}

body.image-box-top {
    background-image: url('hyllie_station-kalleboo-top.jpg');
    background-repeat: no-repeat;
    background-position: top left;
}

p {
    margin-bottom: 3pt;
}

h2 {
    font-family: museo-normal;
    font-size: 16pt;
}

h3 {
    font-family: museo-normal;
    font-size: 14pt;
    margin-bottom: 2pt;
}

em {
    font-weight: bold;
}

hr {
    border: 0;
    border-bottom: solid 1pt lightgray;
}

li {
    margin-left: 1.5em;
    list-style: circle outside;
}

/* ----- CLASSES AND IDENTIFIERS ------ */

.image-box {
    position: relative;
    margin: 1px auto;
    margin-top: 5em;
    width: 900px;
    height: 500px;
    border: solid 1px gray;
    background-image: url('/static/hyllie_station-kalleboo.jpg');
    background-attachment: fixed;
    background-position: center;
    box-shadow: gray 0pt 0pt 3pt;
}

.image-credit {
    position: absolute;
    font-family: museo-light;
    font-size: 10pt;
}

.image-credit a {
    color: inherit;
    text-decoration: none;
}

.image-credit-top-right {
    color: gray;
    top: 1pt;
    right: 3pt;
}

.image-credit-bottom-right {
    color: white;
    bottom: 1pt;
    right: 3pt;
    text-shadow: black 0pt 0pt 3pt;
}

.beta {
    vertical-align: super;
    font-size: 30%;
}

.logo {
    font-family: museo-heavy;
}

.footer {
    margin: 1pt auto;
    width: 550px;
    margin-top: 2em;
    text-align: center;
}

.footer p {
    color: gray;
    font-family: museo-normal;
    margin-top: 1em;
}

.footer p a {
    color: gray;
    text-decoration: none;
    border-bottom: dotted 1pt gray;
}

.tagline-large {
    font-family: museo-normal;
    font-size: 16pt;
    text-align: center;
    color: #404040;
    margin-top: 0;
    margin-bottom: 1em;
    color: white;
    text-shadow: gray 0pt 0pt 3pt;
}

.tagline-small {
    font-family: museo-normal;
    font-size: 12pt;
    text-align: center;
    color: #404040;
    margin-top: 0;
    margin-bottom: 1em;
}

.search-error-messages {
    font-family: museo-normal;
    font-size: 12pt;
    background-color: pink;
}

#logo-large-center {
    margin-top: 24pt;
    font-size: 96pt;
    text-align: center;
    text-shadow: black 1pt 1pt 3pt;
    padding-top: 20pt;
}

#logo-small-center {
    margin-top: 24pt;
    font-size: 64pt;
    text-align: center;
    text-shadow: black 1pt 1pt 3pt;
}

#logo-small-left {
    font-size: 30pt;
    text-shadow: gray 1pt 1pt 2pt;
    display: inline-block;
}

#logo-box {
    float: left;
}

.logo-box-large {
    text-align: center;
}

h1 {
    display: inline-block;
}

#start-search-box {
    text-align: center;
    font-family: museo-normal;
    font-size: 16pt;
}

#start-search-box input {
    font-family: inherit;
    vertical-align: middle;
}

.hd-result {
    border-bottom: solid 1px lightgray;
    margin-bottom: 1em;
    padding-top: 3em;
}

#result-search-box {
    float: left;
    position: relative;
    top: 8px;
    left: 10px;
    font-family: museo-normal;
    font-size: 16pt;
    padding-bottom: 1em;
    padding-top: 3pt;
    display: inline-block;
}

#result-search-box input {
    font-family: inherit;
    vertical-align: middle;
}

.did-you-mean {
    margin: 3pt;
    font-size: 10pt;
    font-family: museo-light;
}

.did-you-mean p {
    margin-bottom: 4pt;
}

.prefix-journeys {
    margin-bottom: 1em;
    font-family: museo-light;
}

.journeys {
}

.journey {
    margin-top: 1em;
    margin-bottom: 2em;
}

.journey .link {
    display: inline-block;
    padding: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 3pt;
    font-family: museo-normal;
}

.deviation-header {
    color: red;
    font-weight: bold;
}

.deviation {
    color: red;
    max-width: 320px;
}

.innerHtml p {
    margin: 4pt;
}

.box-base {
    text-shadow: gray 1pt 1pt 1pt;
    font-size: 8pt;
    color: white;
    /*
    margin-top: 12pt;
    margin-bottom: 12pt;
    */
}

.box-color-purple {
    background-color: #9933cc;
    background-image: -webkit-linear-gradient(top, #cc66ff, #9933cc);
    background-image: -moz-linear-gradient(top, #cc66ff, #9933cc);
}
.box-color-yellow {
    background-color: #ffcc00;
    background-image: -webkit-linear-gradient(top, #fff022, #ffcc00);
    background-image: -moz-linear-gradient(top, #fff022, #ffcc00);
}

.box-color-lightgray {
    background-color: #aaaaaa;
    background-image: -webkit-linear-gradient(top, #eeeeee, #aaaaaa);
    background-image: -moz-linear-gradient(top, #eeeeee, #aaaaaa);
}

.box-color-white {
    background-color: #cccccc;
    background-image: -webkit-linear-gradient(top, #ffffff, #cccccc);
    background-image: -moz-linear-gradient(top, #ffffff, #cccccc);
}

.box-color-gray {
    background-color: #888888;
    background-image: -webkit-linear-gradient(top, #e0e0e0, #888888);
    background-image: -moz-linear-gradient(top, #e0e0e0, #888888);
}

.box-color-black {
    background-color: #000000;
    background-image: -webkit-linear-gradient(top, #a0a0a0, #000000);
    background-image: -moz-linear-gradient(top, #a0a0a0, #000000);
}

.box-color-green {
    background-color: #009933;
    background-image: -webkit-linear-gradient(top, #33cc66, #009933);
    background-image: -moz-linear-gradient(top, #33cc66, #009933);
}

.box-color-blue {
    background-color: #003399;
    background-image: -webkit-linear-gradient(top, #3366cc, #003399);
    background-image: -moz-linear-gradient(top, #3366cc, #003399);
}

.journey .link {
    display: inline-block;
}

/* ---- UI-AUTOCOMPLETE ----- */

.ui-autocomplete li {
    list-style: none;
    text-align: left;
    font-family: museo-normal;
}
